.card-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Prembold;
    border: solid gray 2px;
    height: 10rem;
    width: 20rem;
    margin-bottom: 2rem;
    box-shadow: gray 5px 5px;
    transition: 0.2s;
}

.card-date {
    font-size: 15px;
    margin-bottom: 1rem;
}

.card-content {
    display: flex;
    align-items: center;
}

.card-margin {
    margin-right: 1rem;
}

@font-face {
    font-family: 'PremBold';
    src: url('../../assets/fonts/PremierLeagueW01-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}