.table-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team {
    display: flex;
    align-items: center;
    width: 30rem;
}

.justify-right {
    justify-content: right;
}

.match-button {
    text-align: center;
    background-color: #37003c;
    padding: clamp(0.5rem, 1vw, 1rem);
    margin: 0.5rem;
    width: 5rem;
    color: white;
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
}

.match-button:hover {
    background-color: #1f0021;
}

.disabled-match-button {
    pointer-events: none;
    text-align: center;
    background-color: #1f0021;
    width: 5rem;
    padding: clamp(0.5rem, 1vw, 1rem);;
    margin: 0.5rem;
    color: white;
    border-radius: 15px;
}