.schedule-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.schedule-table {
    font-size: 20px;
    font-family: Prembold;
    border: solid gray 2px;
    border-radius: 15px;
    width: 50rem;
    box-shadow: gray 5px 5px;
}

.schedule-date {
    font-size: 45px;
    font-family: PremHeavy;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.schedule-outline {
    display: flex;
}

@media (max-width: 1360px) {
    .schedule-outline {
        display: none;
    }
}

@font-face {
    font-family: 'PremBold';
    src: url('../../assets/fonts/PremierLeagueW01-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PremHeavy';
    src: url('../../assets/fonts/PremierLeagueW01-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}