.schedule-table {
    font-size: 30px;
    font-family: Prembold;
    border: solid gray 2px;
    border-radius: 15px;
    width: 80vw;
    box-shadow: gray 5px 5px;
}

.schedule-date {
    font-size: 45px;
    font-family: PremHeavy;
    margin: 4rem;
    justify-content: center;
    display: flex;
}

@font-face {
    font-family: 'PremBold';
    src: url('../../assets/fonts/PremierLeagueW01-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PremHeavy';
    src: url('../../assets/fonts/PremierLeagueW01-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}